*{
    padding: 0; margin: 0; border: 0;
}

.caja1{
    background-color: orangered;
    padding: 20px;
    margin: 10px;
}

.caja2{
    background-color: burlywood;
    padding: 20px;
    margin: 10px;
}

.caja3{
    background-color: cadetblue;
    padding: 20px;
    margin: 10px;
}

.caja1-1{
    background-color: salmon;
    padding: 20px;
}

.caja2-1{
    background-color: cyan;
    padding: 20px;
}
.caja2-2{
    background-color: darkturquoise;
    padding: 20px;
}
.caja2-3{
    background-color: lightblue;
    padding: 20px;
}
.caja2-4{
    background-color: darkgrey;
    padding: 20px;
}
.caja2-5{
    background-color: greenyellow;
    padding: 20px;
}
p{
    justify-content: center;
}